.card-title{
    margin-bottom: 30px;
}

img{
    width: 100%;
}

.custom-dashboard-col-height{
    height: 60px;
}

.custom-dashboard-card{
    width: 18rem !important;
    margin-left: 10px;
    margin-bottom: 10px;
}

.flex-box-title-custom{
    margin-left: 0px !important;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 30px;
}

.deck-scaling{
    height: 50%;
}

.dashboard-custom-button-detail{
    margin-top: 10px;
    margin-bottom: 3px;
}

.deck-row-image{
    height: 345px;
    width: 254px;
}

.not-found{
    height: 529px;
}

.recommend-button{
    margin-top: 30px;
    margin-left:30%;
    font-size: 50px !important;
}