.custom-image-detail-size{
    width: 288px;
    height: auto;
    float: right;
}

.custom-image-margin{
    display: flex;
    justify-content: left;
}

.detail-margin-top-custom{
    margin-top: 30px;
}

.dasboard-sub-title{
    font-size: 22px;
    font-weight: bold;
}

.horizontal-margin{
    margin-left: 70px !important;
    margin-right: 70px !important;
}

.margin-custom-bottom-row{
    margin-top: 20px !important;
}

.allignment-custom-bottom-row{
    text-align: justify;
    position: sticky;
}

.custom-genre-paragraph{
    display: inline;
    margin-bottom: 20px;
}

.detail-col-custom-size{
    height: 101px;
    width: 642px;
}