.custom-button{
    background-color: #00BD9D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: auto;    
    display: block;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 17px;
}