.cards{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.custom-backgrounds{
    background-color: #8BD7D2;
}

.title{
    margin-top: 12px;
    font-size: 30px;
    font-weight: bold;
}